@model Projeto_Acoes.Models.Acao

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Acao</h4>
<hr />
<div class="row d-flex justify-content-center ">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AcaoId" />
            <div class="form-group shadow-sm">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group shadow-sm">
                <label asp-for="Empresa" class="control-label"></label>
                <input asp-for="Empresa" class="form-control" />
                <span asp-validation-for="Empresa" class="text-danger"></span>
            </div>
            <div class="form-group shadow-sm">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group shadow-sm">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success mt-3 mb-3" />
            </div>
        </form>
        <div>
            <a asp-action="Index" class="text-decoration-none fw-bolder text-success">Voltar à lista</a>
        </div>
    </div>

</div>
