@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1 mt-5">Bem-vindo</h1>
    <p class="mb-5">Seja bem vindo a nossa bolsa de valores super confiável e segura.</p>
    <div class="border p-5 shadow ">
        <a class="nav-link text-dark btn btn-outline-success mt-2 mb-4  shadow-sm " asp-area="" asp-controller="Acao" asp-action="Index">Acessar bolsa</a>

        <a class="nav-link text-dark btn btn-outline-success mt-2 mb-2 shadow-sm " asp-area="" asp-controller="Acao" asp-action="Create">Comprar Ação</a>
    </div>
       
</div>
